<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/webmanifest.json" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/hotdeal.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
    <title>Hot Deal</title>
  </head>
  <body>
    <%- include("./templates/header.ejs") %>
    <div class="container_detail">
      <div class="leftside">
        <div class="bigtit">
          <h1>KHUYẾN MẠI XIAOMI - QUÀ TẶNG LÊN ĐẾN 2.000.000Đ</h1>
          <br />
          <span>Đăng lúc 22h00, 22/04/2024...307 lượt xem </span>
        </div>
        <hr />
        <div class="smalltit">
          <h1>
            Đừng bỏ lỡ cơ hội tham gia chương trình Mua XiaoMi, trúng ngay quà
            mát dạ từ Di Động HI-TECH - bạn có thể trúng ngay quà hấp dẫn lên
            đến hơn 2 triệu đồng. Hãy mua điện thoại XIAOMI ngay để trải nghiệm
            những điều thú vị và nhận phần thưởng hấp dẫn từ chương trình khuyến
            mãi này. Xem ngay!
          </h1>
          <div class="smalltitimg">
            <img src="./assets/img/hotdeal/xiaomikm.png" />
          </div>
          <h1>1. Thời gian khuyến mãi: 23/4 đến 30/4/2024</h1>
          <h1>2. Nội dung chương trình:</h1>
          <p>
            Trong thời gian khuyến mãi, tất cả khách hàng quốc tịch Việt Nam và
            đủ 18 tuổi, là khách hàng thân thiết, đủ điều kiện tham gia chương
            trình, khi mua sắm điện thoại XIAOMI của DI ĐỘNG HI-TECH thuộc danh
            sách áp dụng khuyến mãi sẽ có cơ hội trúng thưởng như sau:
          </p>
          <p>
            Khi mua một trong các mã sản phẩm điện thoại XIAOMI dưới đây, có cơ
            hội tham gia vòng quay may mắn để nhận ngay:
          </p>
          <p>- Sạc điện thoại XIAOMI chính hãng.</p>
          <p>- Ốp điện thoại XIAOMI với những hình đẹp.</p>
          <p>- Quạt tản nhiệt cho điện thoại khi làm việc hay chơi game.</p>
          <p>- Gói bảo hành 15 tháng, 1 đổi 1 trong 30 ngày</p>
          <p>
            - 1 voucher giảm giá 2.000.000 cho bất cứ sản phẩm nào trong cửa
            hàng của chúng tôi.
          </p>
          <p>Cùng với đó là chính sách bán hàng cùng nhiều ưu đãi khác:</p>
          <p>- Trả góp 0% - Trả trước từ 10%.</p>
          <p>- Tặng 12 lần dán cường lực miễn phí trong 1 năm</p>
          <p>- Giảm thêm đến 400.000đ cho học sinh sinh viên.</p>
          <div class="ifbx">
            <strong>Lưu ý:</strong>
            <p>
              - Khách hàng thân thiết là khách hàng đã mua hàng trong suốt 6
              tháng liên tiếp ở cửa hàng chúng tôi.
            </p>
            <p>- Bảo hành không bao gồm rơi vỡ và rơi nước.</p>
          </div>
          <h1>3. Sản phẩm khuyến mãi</h1>
          <div class="prosale">
            <a href="#!">
              <img src="./assets/img/hotdeal/xiaomiimg.png" />
              <p>XIAOMI</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/xiaomiimg.png" />
              <p>XIAOMI</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/xiaomiimg.png" />
              <p>XIAOMI</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
          </div>
        </div>
      </div>
      <div class="rightside">
        <h4>Các tin khuyến mãi khác</h4>
        <hr />
        <ul>
          <li>
            <a href="/hotdeal_child_iphone">
              <img src="./assets/img/hotdeal/dealcuccang.png" />
              <h3>Giảm giá "CỰC CĂNG" mua ngay kẻo hết</h3>
            </a>
          </li>
          <li>
            <a href="/hotdeal_child_oppo">
              <img src="./assets/img/hotdeal/dtchinhhang.png" />
              <h3>
                Mua điện thoại oppo nhận bảo hành chính hãng lên tới 2 năm
              </h3>
            </a>
          </li>
          <li>
            <a href="/hotdeal_child_samsung">
              <img src="./assets/img/hotdeal/samsungtragop.png" />
              <h3>
                Tuần lễ thương hiệu SAMSUNG: trả góp 0%, nhiều quà hấp dẫn
              </h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%- include("./templates/footer.ejs") %>
  </body>
</html>
