<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/webmanifest.json" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/hotdeal.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
    <title>Hot Deal</title>
  </head>
  <body>
    <%- include("./templates/header.ejs") %>
    <div class="container_detail">
      <div class="leftside">
        <div class="bigtit">
          <h1>
            TUẦN LỄ THƯƠNG HIỆU SAMSUNG: TRẢ GÓP 0%, NHIỀU PHẦN QUÀ HẤP DẪN
          </h1>
          <br />
          <span>Đăng lúc 22h00, 22/04/2024...307 lượt xem </span>
        </div>
        <hr />
        <div class="smalltit">
          <h1>
            Đón chào tuần lễ SamSung cùng DI ĐỘNG HI-TECH, từ 23/4 đến
            30/4/2024, khi khách hàng chọn mua điện thoại SAMSUNG sẽ nhận ưu đãi
            cực hấp dẫn, giá chỉ từ 7.199.000Đ, nhiều quà tặng kèm, đặc biệt trả
            góp 0% quá dễ. Tham khảo ngay!
          </h1>
          <div class="smalltitimg">
            <img src="./assets/img/hotdeal/samsungtragop.png" />
          </div>
          <h1>1. Thời gian khuyến mãi: 23/4 đến 30/4/2024</h1>
          <h1>2. Nội dung chương trình:</h1>
          <p>
            Trong thời gian diễn ra Tuần lễ thương hiệu SAMSUNG, Di động HI-TECH
            mang đến cho khách hàng thân thiết hay khách hàng lần đầu tới cửa
            hàng cơ hội sở hữu hàng loạt sản phẩm điện thoại SAMSUNG với ưu đãi
            cực hấp dẫn, cụ thể:
          </p>
          <p>- SamSung GalaxyS Series chỉ từ 15.999.000Đ</p>
          <p>- SamSung Galaxy Note Series chỉ từ 11.999.000Đ</p>
          <p>- SamSung Galaxy Z Series chỉ từ 7.199.000Đ</p>
          <p>Cùng với đó là chính sách bán hàng cùng nhiều ưu đãi khác:</p>
          <p>- Trả góp 0% - Trả trước từ 10%.</p>
          <p>- Giảm thêm đến 400.000đ cho học sinh sinh viên.</p>
          <div class="ifbx">
            <strong>Lưu ý:</strong>
            <p>
              - Khách hàng thân thiết là khách hàng đã mua hàng trong suốt 6
              tháng liên tiếp ở cửa hàng chúng tôi.
            </p>
            <p>- Bảo hành không bao gồm rơi vỡ và rơi nước.</p>
          </div>
          <h1>3. Sản phẩm khuyến mãi</h1>
          <div class="prosale">
            <a href="#!">
              <img src="./assets/img/hotdeal/samsungimg.png" />
              <p>SAMSUNG</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/samsungimg.png" />
              <p>SAMSUNG</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/samsungimg.png" />
              <p>SAMSUNG</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
          </div>
        </div>
      </div>
      <div class="rightside">
        <h4>Các tin khuyến mãi khác</h4>
        <hr />
        <ul>
          <li>
            <a href="#!">
              <img src="./assets/img/hotdeal/dealcuccang.png" />
              <h3>Giảm giá "CỰC CĂNG" mua ngay kẻo hết</h3>
            </a>
          </li>
          <li>
            <a href="#!">
              <img src="./assets/img/hotdeal/dtchinhhang.png" />
              <h3>
                Mua điện thoại oppo nhận bảo hành chính hãng lên tới 2 năm
              </h3>
            </a>
          </li>
          <li>
            <a href="#!">
              <img src="./assets/img/hotdeal/xiaomikm.png" />
              <h3>Siêu khuyến mại XiaoMi - Quà tặng lên tới 2.000.000Đ</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%- include("./templates/footer.ejs") %>
  </body>
</html>
