<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/webmanifest.json" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/hotdeal.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
    <title>Hot Deal</title>
  </head>
  <body>
    <%- include("./templates/header.ejs") %>
    <div class="container_detail">
      <div class="leftside">
        <div class="bigtit">
          <h1>GIẢM GIÁ CĂNG CỰC MUA NGAY KẺO HẾT</h1>
          <br />
          <span>Đăng lúc 22h00, 30/04/2024...307 lượt xem </span>
        </div>
        <hr />
        <div class="smalltit">
          <h1>
            Điện thoại vui tung deal hot tháng 5, giảm giá "cực căng" - săn liền
            kẻo lỡ!!! Hàng loạt sản phẩm điện thoại di động giảm cực SỐC đến
            20%. Đừng bỏ lỡ loạt sản phẩm hot rần rần cùng hàng ngàn ưu đãi cực
            HOT đang đổ bộ tại Điện thoại vui với Giá RẺ Quá. Nhanh tay, đặt mua
            ngay!
          </h1>
          <div class="smalltitimg">
            <img src="./assets/img/hotdeal/dealcuccang.png" />
          </div>
          <h1>1. Thời gian khuyến mãi: Từ 01/05/2024 đến 31/05/2024</h1>
          <h1>2. Nội dung chương trình</h1>
          <p>
            Ưu đãi đặc biệt cho khách hàng thân thiết hoặc người mua hàng lần
            đầu, lần đầu đến với điện thoại vui, bạn sẽ được giảm ngay 20% trên
            tổng hóa đơn.
          </p>
          <p>
            Khi mua combo điện thoại iPhone 15 Series bao gồm 2 sản phẩm trở lên
            bạn sẽ được giảm 10% tổng hóa đơn, ngoài ra còn được tặng kính dán
            cường lực và ốp điện thoại.
          </p>
          <p>Bảo hành lên đến 12 tháng so với 6 tháng như ban đầu.</p>
          <div class="ifbx">
            <strong>Lưu ý:</strong>
            <p>
              - Khách hàng thân thiết là khách hàng đã mua hàng trong suốt 6
              tháng liên tiếp ở cửa hàng chúng tôi.
            </p>
            <p>
              - 2 sản phẩm trở lên tức là combo iPhone 15 Pro và iPhone 15 Pro
              Max và tương tự.
            </p>
            <p>- Bảo hành không bao gồm rơi vỡ và rơi nước.</p>
          </div>
          <h1>3. Sản phẩm khuyến mãi</h1>
          <div class="prosale">
            <a href="#!">
              <img src="./assets/img/hotdeal/iphoneimg.png" />
              <p>Iphone 15 Pro</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/iphoneimg.png" />
              <p>Iphone 15 Pro</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/iphoneimg.png" />
              <p>Iphone 15 Pro</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
          </div>
        </div>
      </div>
      <div class="rightside">
        <h4>Các tin khuyến mãi khác</h4>
        <hr />
        <ul>
          <li>
            <a href="/hotdeal_child_oppo">
              <img src="./assets/img/hotdeal/dtchinhhang.png" />
              <h3>
                Mua điện thoại Oppo nhận ngay bảo hành chính hãng lên đến 2 năm
              </h3>
            </a>
          </li>
          <li>
            <a href="/hotdeal_child_samsung">
              <img src="./assets/img/hotdeal/samsungtragop.png" />
              <h3>
                Tuần lễ thương hiệu SAMSUNG: trả góp 0%, nhiều quà hấp dẫn
              </h3>
            </a>
          </li>
          <li>
            <a href="/hotdeal_child_xiaomi">
              <img src="./assets/img/hotdeal/xiaomikm.png" />
              <h3>Siêu khuyến mại XiaoMi - Quà tặng lên tới 2.000.000Đ</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%- include("./templates/footer.ejs") %>
  </body>
</html>
