<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/webmanifest.json" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/hotdeal.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
    <title>Hot Deal</title>
  </head>
  <body>
    <%- include("./templates/header.ejs") %>
    <div class="container_detail">
      <div class="leftside">
        <div class="bigtit">
          <h1>MUA ĐIỆN THOẠI OPPO NHẬN BẢO HÀNH CHÍNH HÃNG LÊN ĐẾN 2 NĂM</h1>
          <br />
          <span>Đăng lúc 22h00, 07/05/2024...307 lượt xem </span>
        </div>
        <hr />
        <div class="smalltit">
          <h1>
            Không chỉ sở hữu một chiếc điện thoại OPPO, bạn còn được đảm bảo an
            tâm với chương trình bảo hành đặc biệt kéo dài tới 2 năm. Đừng bỏ lỡ
            cơ hội này để trải nghiệm chất lượng điện thoại OPPO và yên tâm khi
            sử dụng sản phẩm của OPPO. Hãy mua ngay để nhận ngay ưu đãi này!
          </h1>
          <div class="smalltitimg">
            <img src="./assets/img/hotdeal/dtchinhhang.png" />
          </div>
          <h1>1. Thời gian khuyến mãi: Từ 15/04 đến 15/08/2024</h1>
          <h1>2. Nội dung chương trình:</h1>
          <p>
            Ưu đãi đặc biệt cho khách hàng thân thiết hoặc người mua hàng lần
            đầu, khách hàng mua điện thoại OPPO (theo danh sách đính kèm) sẽ
            được tặng thêm 1 năm bảo hành mở rộng cùng với 1 năm bảo hành tiêu
            chuẩn của sản phẩm, nâng tổng thời gian bảo hành lên 2 năm.
          </p>
          <p>
            Khi mua combo điện thoại OPPO bao gồm 2 sản phẩm trở lên bạn sẽ được
            giảm 10% tổng hóa đơn, ngoài ra còn được tặng kính dán cường lực và
            ốp điện thoại.
          </p>
          <div class="ifbx">
            <strong>Lưu ý:</strong>
            <p>
              - Khách hàng thân thiết là khách hàng đã mua hàng trong suốt 6
              tháng liên tiếp ở cửa hàng chúng tôi.
            </p>
            <p>- Bảo hành không bao gồm rơi vỡ và rơi nước.</p>
          </div>
          <h1>3. Sản phẩm khuyến mãi</h1>
          <div class="prosale">
            <a href="#!">
              <img src="./assets/img/hotdeal/oppoimg.png" />
              <p>OPPO</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/oppoimg.png" />
              <p>OPPO</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
            <a href="#!">
              <img src="./assets/img/hotdeal/oppoimg.png" />
              <p>OPPO</p>
              <h2>7.199.999Đ</h2>
              <p class="textmoney"><span>9.000.000Đ</span> -20%</p>
            </a>
          </div>
        </div>
      </div>
      <div class="rightside">
        <h4>Các tin khuyến mãi khác</h4>
        <hr />
        <ul>
          <li>
            <a href="#!">
              <img src="./assets/img/hotdeal/dealcuccang.png" />
              <h3>Giảm giá "CỰC CĂNG" mua ngay kẻo hết</h3>
            </a>
          </li>
          <li>
            <a href="#!">
              <img src="./assets/img/hotdeal/samsungtragop.png" />
              <h3>
                Tuần lễ thương hiệu SAMSUNG: trả góp 0%, nhiều quà hấp dẫn
              </h3>
            </a>
          </li>
          <li>
            <a href="#!">
              <img src="./assets/img/hotdeal/xiaomikm.png" />
              <h3>Siêu khuyến mại XiaoMi - Quà tặng lên tới 2.000.000Đ</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%- include("./templates/footer.ejs") %>
  </body>
</html>
