<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Favicon -->
      <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    
    <!-- Fonts -->
    <link rel="stylesheet" href="./assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/news.css">

    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
    <title>Document</title>
</head>
<body>
  <%- include("./templates/header.ejs") %>


<div class="album py-5 bg-body-tertiary tintuc">
    <div class="container container_Phuc">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-3">
        <div class="col">
            <a href="https://youtu.be/zpGWPXV0ASk?si=owrgyngM0adUx0ox" class="tin_tuc_html">
              <div class="card shadow-sm">
                <img class="card-img" src="https://i.ibb.co/f4CDjYB/0005662-xam-titanium.jpg " focusable="false"></img>
                <div class="card-body">
                  <p class="card-text">Cập nhật sản phẩm</p>
                  <h3 class="card-h3"><b>Galaxy S24 Ultra lộ diện</b></h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary">Mở tiềm năng vô hạn cùng Khoanh vùng Search đa năng với Google trên Galaxy S24 Ultra.</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="https://youtu.be/NOMVB8qLRaA?si=nbwjxp0_7KxdxXu4" class="tin_tuc_html">
              <div class="card shadow-sm">
                <img class="card-img" src="https://i.ibb.co/P1Cj7MS/galaxy-a55-va-galaxy-a35-mo-ban-som-gia-quy-doi-hon-10-trieu-dong-3.jpg" focusable="false"></img>
                <div class="card-body">
                  <p class="card-text">Cập nhật sản phẩm</p>
                  <h3 class="card-h3"><b>Galaxy A55 | A35 5G mới ra mắt</b></h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary">Tân binh Galaxy A55 | A35 5G mới chính thức trình làng với loạt tính năng Awesome</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="https://youtu.be/8pOGt7Vjo4I?si=Z9QlS8rUljhDeFdT" class="tin_tuc_html">
              <div class="card shadow-sm">
                <img class="card-img" src="https://i.ibb.co/1f4rPnf/image001-1686884951584185802514.webp" focusable="false"></img>
                <div class="card-body">
                  <p class="card-text">Cập nhật sản phẩm</p>
                  <h3 class="card-h3"><b>iPhone 15 Pro | Apple</b></h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary">Mạnh mẽ mà nhẹ tênh. Giới thiệu iPhone 15 Pro titan mới. Mang đến hiệu năng chơi game ở tầm cao mới với chip A17 Pro</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="https://youtu.be/EwmllV9ASJI?si=C2DVdiZNl-7HpXAI" class="tin_tuc_html">
              <div class="card shadow-sm">
                <img class="card-img" src="https://i.ibb.co/BCLgFG7/xiaomi-14-14-pro-phien-ban-su7-mo-dat-truoc-tai-trung-quoc-1.jpg" focusable="false"></img>
                <div class="card-body">
                  <p class="card-text">Cập nhật sản phẩm</p>
                  <h3 class="card-h3"><b>Xiaomi 14 - Kiệt Tác Huyền Thoại</b></h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary">Đặt trước Xiaomii 14 từ ngày 14-22.3</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="https://youtu.be/YzWRR9U0_4A?si=oXKj8MavWqwgqF4P" class="tin_tuc_html">
              <div class="card shadow-sm">
                <img class="card-img" src="https://i.ibb.co/R9nRSTP/nghenhin-csm-oppo-find-x7-ultra-1.jpg" focusable="false"></img>
                <div class="card-body">
                  <p class="card-text">Cập nhật sản phẩm</p>
                  <h3 class="card-h3"><b>OPPO Find X7 Ultra đã xuất hiện </b></h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary">Sản phẩm này dự kiến sẽ thu hút sự chú ý của người tiêu dùng và đem lại trải nghiệm mới mẻ và độc đáo trong thế giới công nghệ.</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
          
    </div>
  </div>
  <%- include("./templates/footer.ejs") %>
</body>
</html>