<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Quản Trị | Di động High-tech</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="./assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./assets/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="./assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="./assets/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" href="./assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="./assets/css/signin.css" />

    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
  </head>
  <body>
    <main class="auth">
      <!-- Auth content -->
      <div class="auth__content">
        <div class="auth__content-inner">
          <a href="./" class="logo">
            <img
              src="./assets/icons/logo.png"
              alt="didong2tech"
              class="logo__img"
            />
            <h2 class="logo__title">DI ĐỘNG HIGH-TECH</h2>
          </a>
          <h1 class="auth__heading">TRANG QUẢN TRỊ</h1>
          <form action="webadmin-home.ejs" class="form auth__form">
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="Email"
                  class="form__input"
                  autofocus
                  required
                />
                <img
                  src="./assets/icons/message.svg"
                  alt=""
                  class="form__input-icon"
                />
                <img
                  src="./assets/icons/form-error.svg"
                  alt=""
                  class="form__input-icon-error"
                />
              </div>
              <p class="form__error">định dạng (username@email.com)</p>
            </div>
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="password"
                  name=""
                  id=""
                  placeholder="Mật khẩu"
                  class="form__input"
                  required
                  minlength="6"
                />
                <img
                  src="./assets/icons/lock.svg"
                  alt=""
                  class="form__input-icon"
                />
                <img
                  src="./assets/icons/form-error.svg"
                  alt=""
                  class="form__input-icon-error"
                />
              </div>
              <p class="form__error">Mật khẩu phải dài hơn 6 kí tự</p>
            </div>
            <div class="form__group auth__btn-group">
              <a href="webadmin-dangnhap.ejs">
                <button class="btn btn--primary auth__btn form__submit-btn">
                  Đăng nhập
                </button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script>
      window.dispatchEvent(new Event("template-loaded"));
    </script>
  </body>
</html>
