<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Quản Trị | Di động High-tech</title>
    <link rel="stylesheet" href="./assets/css/webadmin.css" />
  </head>
  <body>
    <div class="admin-header">
      <div class="left-panel">
        <p>Xin Chào <span>Admin</span></p>
      </div>
      <div class="right-panel">
        <a href="webadmin-home.ejs">
          <img src="./assets/img/house.png" alt="" class="icon" />Trang chủ
        </a>
        <a href="webadmin-dangnhap.ejs">
          <img src="./assets/img/logout.png" alt="" class="icon" />Đăng xuất
        </a>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="left-menu">
          <div class="menu-heading">Admin menu</div>
          <div class="menu-items">
            <ul>
              <li><a href="webadmin-home.ejs">Đơn Hàng</a></li>
              <li><a href="webadmin-tonkho.ejs">Hàng Tồn</a></li>
              <li>
                <a href="webadmin-uudai.ejs">Danh sách mail được nhận ưu đãi</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="main-content-donhang">
          <h1 class="card-h1">Danh sách sản phẩm đơn hàng</h1>
          <div class="product-items">
            <ul>
              <li class="product-items-heading">
                <div class="pro">ID</div>
                <div class="pro">Ảnh</div>
                <div class="pro">Hãng</div>
                <div class="pro">Loại sản phẩm</div>
                <div class="pro">Tên sản phẩm</div>
                <div class="pro">Giá</div>
                <div class="pro">Mô tả</div>
                <div class="pro">Ngày đặt</div>
                <div class="pro">Sửa</div>
                <div class="pro">Xóa</div>
              </li>
              <li class="product-item">
                <div class="prod">001</div>
                <img
                  src="https://i.ibb.co/qdYVXbC/0019801-black-550.jpg"
                  alt=""
                />
                <div class="prod">Iphone</div>
                <div class="prod">Iphone 15 seri</div>
                <div class="prod">Iphone 15 promax</div>
                <div class="prod">19890000</div>
                <div class="prod">Mô tả</div>
                <div class="prod">01/20/2024</div>
                <div class="prod"><a href="#">Sửa</a></div>
                <div class="prod"><a href="#">Xóa</a></div>
              </li>
              <li class="product-item">
                <div class="prod">002</div>
                <img
                  src="https://i.ibb.co/yqnwtW9/0019802-black-550.jpg"
                  alt=""
                />
                <div class="prod">Iphone</div>
                <div class="prod">Iphone 15 seri</div>
                <div class="prod">Iphone 15 promax</div>
                <div class="prod">19890000</div>
                <div class="prod">Mô tả</div>
                <div class="prod">01/20/2024</div>
                <div class="prod"><a href="#">Sửa</a></div>
                <div class="prod"><a href="#">Xóa</a></div>
              </li>
              <li class="product-item">
                <div class="prod">003</div>
                <img
                  src="https://i.ibb.co/qdYVXbC/0019801-black-550.jpg"
                  alt=""
                />
                <div class="prod">Iphone</div>
                <div class="prod">Iphone 15 seri</div>
                <div class="prod">Iphone 15 promax</div>
                <div class="prod">19890000</div>
                <div class="prod">Mô tả</div>
                <div class="prod">01/20/2024</div>
                <div class="prod"><a href="#">Sửa</a></div>
                <div class="prod"><a href="#">Xóa</a></div>
              </li>
              <li class="product-item">
                <div class="prod">004</div>
                <img
                  src="https://i.ibb.co/B35hc7s/0019566-titan-xanh-550.jpg"
                  alt=""
                />
                <div class="prod">Iphone</div>
                <div class="prod">Iphone 15 seri</div>
                <div class="prod">Iphone 15 promax</div>
                <div class="prod">19890000</div>
                <div class="prod">Mô tả</div>
                <div class="prod">01/20/2024</div>
                <div class="prod"><a href="#">Sửa</a></div>
                <div class="prod"><a href="#">Xóa</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
