.album py-5 bg-body-tertiary{
    display: grid;
    grid-template-rows: 300px;
    grid-auto-rows: 200px;
    row-gap: 20px;
}
.card-img{
    height: 225px; 
    float: left;
<<<<<<< HEAD
    margin-right: 20px;
    border-radius: 25px;
=======
    padding-right: 20px;
>>>>>>> main
}
.card-text{
    color: #0bc6e3;
    margin-bottom: 14px;
}
.card-h3{
    font-size: 22px;
    margin-bottom: 14px;
}   
.text-body-secondary{
    font-size: 14px;
    width: 550px;
}
.row .col{
    padding: 30px;
}
