.header-update{
    padding-top: 50px;
    width: 100%;
    height: 160px;
}
.header-update .header-update-container{
    padding: 20px 30px;
    background-color: #EEEEEE;
    border-radius: 0 75px 0 0;
}
.album .container_Hop .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 80px;
}
.card-h1{
    line-height: 60px;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
}
.card-body{
    margin: 10px;
    padding: 10px;
}
.card-text{
    color: #0bc6e3;
    margin-bottom: 14px;
}
.card-h3{
    font-size: 22px;
    margin-bottom: 14px;
}
.card-img{
    width: 100%;
    height: 225px; 
}
.row .col{
    padding: 30px;
}
