<div class="container">
  <div class="footer__row">
    <!-- Footer column 1 -->
    <div class="footer__col">
      <!-- Logo -->
      <a href="./" class="logo footer__logo">
        <img
          src="./assets/icons/logo.svg"
          alt="accountshop"
          class="logo__img"
        />
        <h1 class="logo__title">ACCOUNT SHOP</h1>
      </a>
      <p class="footer__desc">
        Hệ thống cung cấp tài khoản game <br />
        uy tín số 1 Việt Nam.
      </p>

      <p class="footer__help-text">
        Nhận thông báo từ chúng tôi ngay khi có ưu đãi
      </p>
      <form action="" class="footer__form">
        <input type="text" class="footer__input" placeholder="Địa chỉ email" />
        <button class="btn btn--primary">Gửi</button>
      </form>
    </div>

    <!-- Footer column 2 -->
    <div class="footer__col">
      <h3 class="footer__heading">Mua Sắm</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Dịch vụ cung cấp</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Khuyến mãi</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Khách hàng thân thiết</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 3 -->
    <div class="footer__col">
      <h3 class="footer__heading">Hỗ trợ</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Lỗi dịch vụ</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Trạng thái đơn hàng</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 4 -->
    <div class="footer__col">
      <h3 class="footer__heading">Công ty</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Chính sách khách hàng</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Chính sách sử dụng</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Bảo mật</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Thông tin</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Affiliates</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 5 -->
    <div class="footer__col">
      <h3 class="footer__heading">Liên hệ</h3>
      <ul class="footer__list">
        <li>
          <p class="footer__label">Email</p>
          <a href="mailto:contact@accountgamingshop.com" class="footer__link">
            contact@accountgamingshop.com
          </a>
        </li>
        <li>
          <p class="footer__label">Hotline</p>
          <a href="tel:18008888" class="footer__link">09 0912 0912</a>
        </li>
        <li>
          <p class="footer__label">Địa Chỉ</p>
          <p class="footer__text">
            Q. Bắc Từ Liêm, Tp Hà Nội
          </p>
        </li>
        <li>
          <p class="footer__label">Giờ làm việc</p>
          <p class="footer__text">T2 - CN 07:00 - 22:00</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">
      © 2024 - 2030 Account Gaming Shop. All rights reserved.
    </p>

    <div class="footer__socials">
      <a href="#!" class="footer__social-link footer__social-link--facebook">
        <img
          src="./assets/icons/facebook.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--youtube">
        <img
          src="./assets/icons/youtube.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--tiktok">
        <img
          src="./assets/icons/tiktok.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--twitter">
        <img
          src="./assets/icons/twitter.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--linkedin">
        <img
          src="./assets/icons/linkedin.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>
    </div>
  </div>
</div>
