<div class="container">
  <div class="top-bar">
    <!-- More -->
    <button
      class="top-bar__more d-none d-lg-block js-toggle"
      toggle-target="#navbar"
    >
      <img
        src="./assets/icons/more.svg"
        alt=""
        class="icon top-bar__more-icon"
      />
    </button>

    <!-- Logo -->
    <a href="./" class="logo top-bar__logo">
      <img
        src="./assets/icons/logo.png"
        alt="didong2tech"
        class="logo__img top-bar__logo-img"
      />
      <h1 class="logo__title top-bar__logo-title">Di động High-tech</h1>
    </a>

    <!-- Navbar -->
    <nav id="navbar" class="navbar hide">
      <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
        <img class="icon" src="./assets/icons/arrow-left.svg" alt="" />
      </button>

      <a href="./checkout.html" class="nav-btn d-none d-md-flex">
        <img src="./assets/icons/buy.svg" alt="" class="nav-btn__icon icon" />
        <span class="nav-btn__title">Cart</span>
        <span class="nav-btn__qnt">3</span>
      </a>

      <a href="#!" class="nav-btn d-none d-md-flex">
        <img src="./assets/icons/heart.svg" alt="" class="nav-btn__icon icon" />
        <span class="nav-btn__title">Favorite</span>
        <span class="nav-btn__qnt">3</span>
      </a>

      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="#!" class="navbar__link">
            DANH MỤC SẢN PHẨM
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
          <div class="dropdown js-dropdown">
            <div class="dropdown__inner">
              <div class="top-menu">
                <div class="top-menu__main">
                  <!-- Menu column -->
                  <div class="menu-column">
                    <div class="menu-column__icon d-lg-none">
                      <img
                        src="./assets/img/category/cate-1.1.svg"
                        alt=""
                        class="menu-column__icon-1"
                      />
                      <img
                        src="./assets/img/category/cate-1.2.svg"
                        alt=""
                        class="menu-column__icon-2"
                      />
                    </div>
                    <div class="menu-column__content">
                      <h2 class="menu-column__heading d-lg-none">
                        Tất cả
                      </h2>
                      <ul class="menu-column__list js-menu-list">
                        <li class="menu-column__item">
                          <a href="#!" class="menu-column__link">
                            iPhone
                          </a>
                          <!-- Preview for iPhone " -->
                          <div class="sub-menu">
                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">iPhone 11 Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 11
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 11 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 11 Pro Max
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <!-- Menu column 2 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">iPhone 12 Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 12
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 12 Mini
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 12 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 12 Pro Max
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">iPhone 13 Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 13
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 13 Mini
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 13 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 13 Pro Max
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">iPhone 14 Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 14
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 14 Plus
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 14 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 14 Pro Max
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <!-- Menu column 2 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">iPhone 15</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 15
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 15 Plus
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 15 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        iPhone 15 Pro Max
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="menu-column__item">
                          <a href="#!" class="menu-column__link">
                            Samsung
                          </a>
                          <!-- Preview for iPhone " -->
                          <div class="sub-menu">
                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Galaxy S Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy S21 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy S21 Plus 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy S21 Ultra 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy S22 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy S22 Plus 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy S22 Ultra 5G
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <!-- Menu column 2 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Galaxy Note Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Note 10
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Note 10 Plus
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Note 10 Lite
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Note 20
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Note 20 Ultra
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Galaxy Z Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Z Fold 5
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Z Fold 4
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Z Fold 3
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Z Flip 5
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Z Flip 4
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy Z Flip 3
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Galaxy A Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy A55 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy A54 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy A35 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy A34 5G
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <!-- Menu column 2 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Galaxy M Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy M54 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy M55 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy F55 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Galaxy M62
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="menu-column__item">
                          <a href="#!" class="menu-column__link">
                            Xiaomi
                          </a>
                          <!-- Preview for iPhone " -->
                          <div class="sub-menu">
                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Xiaomi Mi Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi 14
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi 13T
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi 13T Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi 12T
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi 12T Pro
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <!-- Menu column 2 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Xiaomi Redmi Note Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Redmi Note 13
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Redmi Note 13 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Redmi Note 12
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Redmi Note 12 Pro
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Xiaomi Poco Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Poco X6
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Poco X6 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Poco X5
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Poco X5 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Pocophone F1
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Xiaomi Black Shark Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Black Shark 5S
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Black Shark 5S Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Black Shark 4S
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Xiaomi Black Shark 4S Pro
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <!-- Menu column 2 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Xiaomi MIX Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Mi MIX Fold 3 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Mi MIX Fold 3
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Mi MIX 4
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Mi MIX Alpha
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="menu-column__item">
                          <a href="#!" class="menu-column__link">
                            Oppo
                          </a>
                          <!-- Preview for iPhone " -->
                          <div class="sub-menu">
                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Oppo Reno Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Reno 11F 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Reno 10 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Reno 10
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Reno 8T 4G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Reno 7 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Reno 7 Pro
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Oppo Find X Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X4
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X4 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X5
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X5 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X6
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X6 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X7
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo Find X7 Pro
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Oppo A Series</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo A77s
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo A58 4G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo A 78 4G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Oppo A18 4G
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="menu-column__item">
                          <a href="#!" class="menu-column__link">
                            Khác
                          </a>
                          <!-- Preview for iPhone " -->
                          <div class="sub-menu">
                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Sony</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 1
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 1 Mark II
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 1 Mark III
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 1 Mark IV
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 1 V
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 5
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 5 Mark I
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 5 Mark II
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Sony Xperia 5 Mark III
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <!-- Menu column 2 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!"></a>
                                  </h2>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">LG</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        LG V50 ThinQ 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        LG V50S ThinQ 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        LG G8 ThinQ
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        LG V40 ThinQ
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        LG Velvet 5G
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        LG V60 ThinQ 5G
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="sub-menu__column">
                              <!-- Menu column 1 -->
                              <div class="menu-column">
                                <div class="menu-column__content">
                                  <h2 class="menu-column__heading">
                                    <a href="#!">Google</a>
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 8
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 8 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel Fold
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 7
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 7A
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 7 Pro
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 6
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 6A
                                      </a>
                                    </li>
                                    <li class="menu-column__item">
                                      <a href="#!" class="menu-column__link">
                                        Google Pixel 6 Pro
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="./updates.html" class="navbar__link">
            KHUYẾN MÃI
          </a>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link">
            TIN TỨC
          </a>
        </li>
      </ul>
    </nav>
    <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

    <!-- Actions -->
    <div class="top-act">
      <div class="top-act__group d-md-none top-act__group--single">
        <button class="top-act__btn">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="icon top-act__icon"
          />
        </button>
      </div>

      <div class="top-act__group d-md-none">
        <div class="top-act__btn-wrap">
          <button class="top-act__btn">
            <img
              src="./assets/icons/heart.svg"
              alt=""
              class="icon top-act__icon"
            />
            <span class="top-act__title">03</span>
          </button>

          <!-- Dropdown -->
          <div class="act-dropdown">
            <div class="act-dropdown__inner">
              <img
                src="./assets/icons/arrow-up.png"
                alt=""
                class="act-dropdown__arrow"
              />
              <div class="act-dropdown__top">
                <h2 class="act-dropdown__title">
                  Sản phẩm đã thích: 3
                </h2>
                <a href="./favourite.html" class="act-dropdown__view-all"
                  >Xem chi tiết</a
                >
              </div>
              <div class="row row-cols-3 gx-2 act-dropdown__list">
                <!-- Cart preview item 1 -->
                <div class="col">
                  <article class="cart-preview-item">
                    <div class="cart-preview-item__img-wrap">
                      <img
                        src="./assets/img/product/item-1.png"
                        alt=""
                        class="cart-preview-item__thumb"
                      />
                    </div>
                    <h3 class="cart-preview-item__title">
                      Lavazza Coffee Blends
                    </h3>
                    <p class="cart-preview-item__price">$329.00</p>
                  </article>
                </div>

                <!-- Cart preview item 2 -->
                <div class="col">
                  <article class="cart-preview-item">
                    <div class="cart-preview-item__img-wrap">
                      <img
                        src="./assets/img/product/item-2.png"
                        alt=""
                        class="cart-preview-item__thumb"
                      />
                    </div>
                    <h3 class="cart-preview-item__title">
                      Coffee Beans Espresso
                    </h3>
                    <p class="cart-preview-item__price">$39.99</p>
                  </article>
                </div>

                <!-- Cart preview item 3 -->
                <div class="col">
                  <article class="cart-preview-item">
                    <div class="cart-preview-item__img-wrap">
                      <img
                        src="./assets/img/product/item-3.png"
                        alt=""
                        class="cart-preview-item__thumb"
                      />
                    </div>
                    <h3 class="cart-preview-item__title">
                      Qualità Oro Mountain
                    </h3>
                    <p class="cart-preview-item__price">$47.00</p>
                  </article>
                </div>
              </div>
              <div class="act-dropdown__separate"></div>
              <div class="act-dropdown__checkout">
                <a
                  href="./checkout.html"
                  class="btn btn--primary btn--rounded act-dropdown__checkout-btn"
                >
                  Thanh toán
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="top-act__separate"></div>

        <div class="top-act__btn-wrap">
          <button class="top-act__btn">
            <img
              src="./assets/icons/buy.svg"
              alt=""
              class="icon top-act__icon"
            />
            <span class="top-act__title">$65.42</span>
          </button>

          <!-- Dropdown -->
          <div class="act-dropdown">
            <div class="act-dropdown__inner">
              <img
                src="./assets/icons/arrow-up.png"
                alt=""
                class="act-dropdown__arrow"
              />
              <div class="act-dropdown__top">
                <h2 class="act-dropdown__title">
                  Bạn đã thêm 3 sản phẩm vào giỏ hàng
                </h2>
                <a href="./checkout.html" class="act-dropdown__view-all"
                  >Chi tiết</a
                >
              </div>
              <div class="row row-cols-3 gx-2 act-dropdown__list">
                <!-- Cart preview item 1 -->
                <div class="col">
                  <article class="cart-preview-item">
                    <div class="cart-preview-item__img-wrap">
                      <img
                        src="./assets/img/product/item-1.png"
                        alt=""
                        class="cart-preview-item__thumb"
                      />
                    </div>
                    <h3 class="cart-preview-item__title">
                      Lavazza Coffee Blends
                    </h3>
                    <p class="cart-preview-item__price">$329.00</p>
                  </article>
                </div>

                <!-- Cart preview item 2 -->
                <div class="col">
                  <article class="cart-preview-item">
                    <div class="cart-preview-item__img-wrap">
                      <img
                        src="./assets/img/product/item-2.png"
                        alt=""
                        class="cart-preview-item__thumb"
                      />
                    </div>
                    <h3 class="cart-preview-item__title">
                      Coffee Beans Espresso
                    </h3>
                    <p class="cart-preview-item__price">$39.99</p>
                  </article>
                </div>

                <!-- Cart preview item 3 -->
                <div class="col">
                  <article class="cart-preview-item">
                    <div class="cart-preview-item__img-wrap">
                      <img
                        src="./assets/img/product/item-3.png"
                        alt=""
                        class="cart-preview-item__thumb"
                      />
                    </div>
                    <h3 class="cart-preview-item__title">
                      Qualità Oro Mountain
                    </h3>
                    <p class="cart-preview-item__price">$47.00</p>
                  </article>
                </div>
              </div>
              <div class="act-dropdown__bottom">
                <div class="act-dropdown__row">
                  <span class="act-dropdown__label">Tổng</span>
                  <span class="act-dropdown__value">$415.99</span>
                </div>
                <div class="act-dropdown__row">
                  <span class="act-dropdown__label">VAT</span>
                  <span class="act-dropdown__value">Free</span>
                </div>
                <div class="act-dropdown__row">
                  <span class="act-dropdown__label">Giảm giá</span>
                  <span class="act-dropdown__value">$10.00</span>
                </div>
                <div class="act-dropdown__row act-dropdown__row--bold">
                  <span class="act-dropdown__label">Tất toán</span>
                  <span class="act-dropdown__value">$425.99</span>
                </div>
              </div>
              <div class="act-dropdown__checkout">
                <a
                  href="./checkout.html"
                  class="btn btn--primary btn--rounded act-dropdown__checkout-btn"
                >
                  Thanh toán
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-act__user">
        <img src="./assets/img/avatar.jpg" alt="" class="top-act__avatar" />

        <!-- Dropdown -->
        <div class="act-dropdown top-act__dropdown">
          <div class="act-dropdown__inner user-menu">
            <img
              src="./assets/icons/arrow-up.png"
              alt=""
              class="act-dropdown__arrow top-act__dropdown-arrow"
            />

            <div class="user-menu__top">
              <img
                src="./assets/img/avatar.jpg"
                alt=""
                class="user-menu__avatar"
              />
              <div>
                <p class="user-menu__name">user</p>
                <p>@username</p>
              </div>
            </div>

            <ul class="user-menu__list">
              <li>
                <a href="./profile.html" class="user-menu__link">Hồ sơ</a>
              </li>
              <li>
                <a href="./favourite.html" class="user-menu__link"
                  >Sản phẩm đã thích</a
                >
              </li>
              <li class="user-menu__separate">
                <a href="#!" class="user-menu__link" id="switch-theme-btn">
                  <span>Dark mode</span>
                  <img
                    src="./assets/icons/sun.svg"
                    alt=""
                    class="icon user-menu__icon"
                  />
                </a>
              </li>
              <li>
                <a href="#!" class="user-menu__link">Cài đặt</a>
              </li>
              <li class="user-menu__separate">
                <a href="./sign-in.html" class="user-menu__link">Đăng xuất</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
